# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Usuario\Documents\UCSP\III CICLO\ALGEBRA ABSTRACTA\SEMANA 4\Ejercicios_String\18.22\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
